body {
    font-family: cursive;
    background-color: rgb(255, 243, 243);
    margin: 0;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px;
}

main {
    overflow-x: auto;
    width: 100%;
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: separate; 
    border-spacing: 1px;
}

td, th {
    padding: 4px;
    text-align: center;
    border: none;
}

td { background-color: white; color: black; }
th { text-transform: uppercase; font-weight: bold; background-color: lightblue; color: black; }

#darkmode, #zglos, #btn, #powrot{
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#formularz-wyszukiwania {
    margin-bottom: 20px;
    text-align: center;
}

#naglowek-medale {
    cursor: pointer;
    user-select: none;
}

#widok-szczegolow {
    display: none; 
    padding: 15px;
    text-align: center;
}

.flaga-tabela { width: 18px; margin-right: 5px; vertical-align: middle; }

.darkmode { background-color: black; color: white; }
.darkmode td { background-color: rgb(131, 131, 131); color: white; }
.darkmode th { background-color: rgb(80, 80, 80); color: white; }

@media (min-width: 768px) {
    body {
        padding: 40px;
        font-size: 16px;
    }

    table {
        max-width: 1400px;
        border-spacing: 3px;
    }

    td, th {
        padding: 8px;
    }

    .flaga-tabela {
        width: 22px;
        margin-right: 8px;
    }

    .flaga-szczegoly {
        width: 120px;
    }
}

/* EKRANY 4K
@media (min-width: 2560px) {
    body {
        font-size: 24px; 
    }

    table {
        max-width: 1800px; 
    }

    .flaga-szczegoly {
        width: 200px; 
    }
}
*/

.karta-szczegolow {
    background: white; border: 1px solid #ccc; border-radius: 8px;
    padding: 20px; max-width: 400px; margin: 20px auto;
    text-align: left; box-shadow: 0 2px 5px rgba(0,0,0,0.1); color: black;
}
.wiersz-medali { display: flex; justify-content: space-between; font-size: 14px; margin: 10px 0 3px; }

.pasek-postepu-tlo { background: #eee; height: 10px; border-radius: 5px; overflow: hidden; margin-bottom: 10px; }
.pasek-postepu-wypelnienie { height: 100%; }
.pasek-zloto { background: #ffd700; }
.pasek-srebro { background: #c0c0c0; }
.pasek-braz { background: #cd7f32; }

.przycisk-akcji {
    background: #eee; border: 1px solid #ccc; border-radius: 5px;
    padding: 10px 15px; cursor: pointer; font-weight: bold; color: black;
}

.darkmode .karta-szczegolow { background: #505050; border-color: #444; color: white; }
.darkmode .przycisk-akcji { background: #838383; border-color: #222; color: white; }
.darkmode .pasek-postepu-tlo { background: #444; }